<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>340270781536-rr2bo3bg5uu73gsiq06te4n2j9ep29cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340270781536-rr2bo3bg5uu73gsiq06te4n2j9ep29cv</string>
	<key>API_KEY</key>
	<string>AIzaSyDVvhat894i3u6J7yDlM4yKNKtUWVTQtiI</string>
	<key>GCM_SENDER_ID</key>
	<string>340270781536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insertgenevievekoffman.makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-ff912</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-ff912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:340270781536:ios:4fceb828a4a5e51e</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-ff912.firebaseio.com</string>
</dict>
</plist>